<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage courses</title>
    <link rel="stylesheet" href="css/fontawesom.min.css">
    <link rel="stylesheet" href="css/studentstyle.css">
</head>
<body>
    <div class="badge-wrap">
        <div class="sidebar-left">
            <div class="logo">
                <a href="/user/">
                    <span class="icon">E</span>
                    <span class="title">E-Learning</span>
                </a>
            </div>
            <div class="info-prof">
              <div class="img-prof">
                  <img src="icon.png">
              </div>
              <div class="name-prof">
                  <span id="..."><%=username%></span>   <!--Change Name of admin with contact name user-->
              </div>
            </div>
  
            <div class="sidebar-link">
                <ul>
                    <li>
                        <a href="/user/mangeCourse">
                           <span class="icon"><i class="fas fa-school"></i></span> 
                            <span class="title">Manage Courses</span>
                        </a>
                    </li>
                    <% if(classList.length !== 0){ %> 
                        <li>
                          <a href="/user/live-class">
                              <span class="icon"><i class="fas fa-desktop"></i></span> 
                              <span class="title">LiveStream</span>
                          </a>
                      </li>
                    <% } %> 
                <li>
                    <a href="/user/profile">
                        <span class="icon"><i class="fas fa-user"></i></span> 
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span> 
                        <span class="title">Log out</span>
                    </a>
                </li>
                </ul>
            </div>
        </div>
        <!-- START CENTER -->
        <div class="main">
            <div class="navigation">
                <div class="toggle" id="toggle">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="main-content">
                <div class="setting-course">
                     
                     <div class="courses-control">
                         <form action="/stuJoinReq" method="POST">
                        <div class="courses-option">
                            <select name="className">
                                <% for (let i = 0 ; i<classList.length;i++){ %> 
                                <option value="<%= classList[i].className%>"><%= classList[i].className%></option>
                                <% } %> 
                               
                            </select>
                        </div>
                         <form>
                                <div class="requst-cours">
                                    <input type="submit" value="Requst">
                                </div>
                         </form>
                     </div>
                    </form>
                       
                </div>
                <div class="main-table" id="..."> <!-- Set Id  for student to manage courses-->
                    <header><h2>Courses Info</h2></header>
                    <div class="courses-table">
                        <table>
                            <thead>
                                <tr>
                                    <td>Name Course</td>
                                    <td>State</td>
                                    <td>Leave</td>
                                </tr>
                            </thead>
                            <tbody>   <!--Here  link database from manage class-->
                                <% if (ClassList.length === 0){%>
                                    <tr>
                                        <td>
                                            you have no class join class from here <span>arow up</span> 
                                        </td>
                                    </tr>
                                   <%}else{ %> 
                                   <% for(let i = 0 ; i<ClassList.length;i ++){%>
                                    
                                    <tr>
                                    <td><%= ClassList[i].className%></td>
                                    <td><%= ClassList[i].classStats%></td>  <!--link database from manage class-->
                                    <td><button id="leave" value="<%= ClassList[i].className%>" onclick="remove(this);send(this)">Leave</button></td>  <!--link database from manage class-->
                                </tr>
                                   <% }} %>  <tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <script>
          
const togglesid = document.getElementById('toggle');
      togglesid.addEventListener('click', function(){
          let sideLeft = document.querySelector('.sidebar-left');
              sideLeft.classList.toggle('active');
          let main = document.querySelector('.main');
            main.classList.toggle('active');
          let logo = document.querySelector('.logo .title');
              logo.classList.toggle('active');
              let logoicon = document.querySelector('.logo .icon');
              logoicon.classList.toggle('active'); 
      })
      function remove(elem){
        elem.parentNode.parentNode.remove(elem);
        }
        function send(ele){
            var className = ele.value
            var data = {
                "className":`${className}`,
            }
            var form = new FormData()
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/leaveClass', true);
            xhr.setRequestHeader('Content-type', 'application/json');

                xhr.send(JSON.stringify(data));
        }
      


      </script>
</body>
</html>