<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Admins</title>
    <link rel="stylesheet" href="css/fontawesom.min.css">
    <link rel="stylesheet" href="css/stylemainadmin.css">
</head>
<body>
    <div class="badge-wrap">
        <div class="sidebar-left">
            <div class="logo">
                <a href="#">
                    <span class="icon">E</span>
                    <span class="title">E-Learning</span>
                </a>
            </div>
            <div class="info-prof">
              
              <div class="name-prof">
                  <span id="..."><%= username %> </span>   <!--Change Name of admin with contact name user-->
              </div>
            </div>
  
            <div class="sidebar-link">
                <ul>
                    <li>
                        <a href="/newAdmin/mangment">
                           <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span> 
                            <span class="title">Setting Instractor</span>
                        </a>
                    </li>
                  <li>
                    <a href="/admin/" > 
                        <span class="icon"><i class="fas fa-users-cog"></i></span> 
                        <span class="title">Dash Borde</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span> 
                        <span class="title">Log out</span>
                    </a>
                </li>
                </ul>
            </div>
        </div>
        <!-- register -->
<div class="wall-reg">
        <div class="regadmin">
            <div class="signfield">
                <form id="signup-admin" action="/regesteNewAdmin" method="POST">
                    <header><h2>SignUp Admin</h2></header>
                    <div class="adminup-up">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-times-circle"></i>
                        <input type="text" id="adminuserup" name="username" placeholder="Enter username" onkeyup="validationuser()" required>
                        <span id="validuserad"></span>
                    </div>
                    <!-- Password -->
                    <div class="passadmin-up">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-times-circle"></i>
                        <input type="password" id="passupad" name="password" placeholder="Enter Password" onkeyup="validationPassword();"  minlength="6" maxlength="18" required>
                        <span id="validpassad"></span>
                    </div>
                    <!-- confirm Password -->
                    <div class="confpassadmin-up">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-times-circle"></i>
                        <input type="password" id="confpassupad" placeholder="Confirm Password"  onkeyup="validationconfPassword()" minlength="6" maxlength="18" required>
                        <span id="validconfpassad"></span>
                    </div>
                        <!-- Email Address -->
                    <div class="emailadressAdmin">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-times-circle"></i>
                        <input type="email" id="emailadm" name="email" placeholder="Enter Email Address" pattern="^[^ ]+@[^ ]+\.[a-z]{2,3}$" onkeyup="validationEmail();"  minlength="6" maxlength="40" required>
                        <span id="valideemailad"></span>
                    </div>
                    <!-- Phone Number -->
                    <div class="phoneupadmin">
                        <i class="fas fa-check-circle"></i>
                        <i class="fas fa-times-circle"></i>
                        <input type="tel" id="phone-numad" name="phone" minlength="6" maxlength="11" onkeyup="validationPhonenum()" placeholder="Enter PhoneNumber"  pattern="^01[0-2]\d{1,8}$" required>
                        <span id="validphonead"></span>
                    </div>    
                <div class="signup-logbtn">
                    <input type="submit" id="signup" value="Sign Up">
                </div>
    
            </div>
        </form>
        </div>

    <div class="close-Signup">
        <input type="submit" id="close" value="Close" onclick="closereg(); " style="
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 7px;
    background: red;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    text-align: center;
    padding: 20px 21px;
">
    </div> 
</div>
        <!-- START CENTER -->
        <div class="main">
            <div class="navigation">
                <div class="toggle" id="toggle">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="main-admin">
                <div class="Register">
                    <button value="Register" onclick="openreg();">Add new Admin</button>
                </div>
                <div class="main-content">
                    <div class="main-table-admin">
                     <header><h2>Instractor Wating list</h2></header>
                     <div class="admins-table">
                         <table>
                             <thead>
                                 <tr>
                                     <td>Instractor neme</td>
                                     <td>Phone Number</td>
                                     <td>Email Address</td>
                                     <td>Action</td>
                                 </tr>
                             </thead>
                             <tbody>   <!--Here  link database from manage class-->
                                <% if (watingList.length === 0 ){%>
                                    <tr>

                                        <td>
                                            ther is no wating instractors
                                        </td>
                                    </tr>
                                 <%}else{%>
                                    
                                    <% for(let i = 0 ; i<watingList.length ; i++){%>
                                        <tr>
                                            
                                            <td><%= watingList[i].username %> </td>
                                            <td><%= watingList[i].phone %></td>  
                                            <td><%= watingList[i].email %></td> 
                                            <td>
                                                <button class="accept-inst" value="<%=watingList[i].username%>" onclick="send(this) ; remove(this)" >accept</button>
                                                <button class="rej-inst" value="<%=watingList[i].username%>" onclick="sendReject(this) ; remove(this)">reject</button>
                                            </td> 
                                        </tr>
            
                                   <% } %> 
                                 <%} %> 
                                 
                             </tbody>
                         </table>
                     </div>
                     <header><h2>Instractor Wating calass to be add</h2></header>
                     <div class="admins-table">
                         <table>
                             <thead>
                                 <tr>
                                     <td>Instractor neme</td>
                                     <td>Class Name</td>
                                     <td>Class start/end</td>
                                     <td>Action</td>
                                 </tr>
                             </thead>
                             <tbody>   <!--Here  link database from manage class-->
                                <% if (classWatin.length === 0 ){%>
                                    <tr>

                                        <td>
                                            ther is no wating instractors
                                        </td>
                                    </tr>
                                 <%}else{%>
                                    
                                    <% for(let i = 0 ; i<classWatin.length ; i++){%>
                                        <tr>
                                            <td><%= classWatin[i].username %></td>
                                            <td><%= classWatin[i].className %> </td>
                                            <td><%= classWatin[i].classStart %> / <%= classWatin[i].classEnd %></td>
                                            <td>
                                                <button class="accept-inst" value="<%= classWatin[i].className %>" name="<%= classWatin[i].username %>" onclick="sendclass(this) ; remove(this)" >accept</button>
                                                <button class="rej-inst" value="<%= classWatin[i].className %>" name="<%= classWatin[i].username %>"onclick="sendRclass(this) ; remove(this)">reject</button>
                                            </td> 
                                        </tr>
            
                                   <% } %> 
                                 <%} %> 
                                 
                             </tbody>
                         </table>
                     </div>
                    </div>
                  </div>
            </div>
            </div>

 
        </div>
    </div>

      <script src="js/javaadminr.js"></script>
      <script>
          function remove(elem){
        elem.parentNode.parentNode.remove(elem);
        }
        function send(ele){
            var username = ele.value
            var data = {
                "username":`${username}`
            }
             console.log(data)
            var form = new FormData()
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/AccepteInst', true);
            xhr.setRequestHeader('Content-type', 'application/json');

                xhr.send(JSON.stringify(data));
        }
        function sendReject(ele){
            var username = ele.name
            let value = ele.value
            var data = {
                "className":`${value}`
            }
            console.log(data)
            var form = new FormData()
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/RInst', true);
            xhr.setRequestHeader('Content-type', 'application/json');

                xhr.send(JSON.stringify(data));
        }
     
        function sendclass(ele){
            let username = ele.name
            let className =ele.value
            let data = {
                "username":`${username}`,
                "className":`${className}`
            }
             console.log(data)
            var form = new FormData()
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/AccepClassInst', true);
            xhr.setRequestHeader('Content-type', 'application/json');

                xhr.send(JSON.stringify(data));
        }
        function sendRclass(ele){
            let username = ele.name
            let className =ele.value
            let data = {
                "username":`${username}`,
                "className":`${className}`
            }
             console.log(data)
            var form = new FormData()
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/RClassInst', true);
            xhr.setRequestHeader('Content-type', 'application/json');

                xhr.send(JSON.stringify(data));
        }
      </script>
</body>
</html>